[user]
	name = Andrew Nagi
	email = andrew.nagi@gmail.com
[alias]
	aa = add --all
	amend = ci --amend
	b = branch
	ba = branch -a
	ci = commit -v
	co = checkout
	dc = diff --cached
	di = diff
	l = "!. ~/.githelpers && pretty_git_log"
	me = "!git log --pretty=format:\"%h%x09%an%x09%ad%x09%s\" | grep -i nagi | less"
	la = !git l --all
	pom = push origin master
	phm = push heroku master
	r = remote
	rv = remote -v 
	rm="!git ls-files --deleted | xargs git rm"
	st = status
[color]
	ui = true
[core]
	editor = vim
	autocrlf = input
[merge]
	tool = vimdiff
[apply]
	whitespace = nowarn
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
