#!/bin/sh

Noppoo_detect () {
  NOPPOO_KEYBOARD_DEV_ID=1006:0022
  lsusb | grep -q $NOPPOO_KEYBOARD_DEV_ID
}

Map_noppoo () {
  /usr/bin/xmodmap $HOME/.dotfiles/linux/Xmodmap.noppoo
}

Map_compaq () {
  /usr/bin/xmodmap $HOME/.dotfiles/linux/Xmodmap.compaq
}

Map_keys () {
  Noppoo_detect
  if [ $? -eq 0 ] # Noppoo detected
  then
    Map_noppoo
  else
    Map_compaq
  fi
}

Map_keys
